.wrapper {
  display: flex;
  justify-content: center;
}

.main {
  display: inline-grid;
  grid-gap: 30px;
  padding: 20px;
}

/* Desktop only */
@media all and (min-width: 850px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet devices only */
@media all and (max-width: 850px) and (min-width: 430px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Mobile devices */
@media all and (max-width: 430px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.number-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 30px;
  width: 150px;
  height: 150px;
  background-color: transparent;
}

.highlight-selected {
  background-color: lightcoral;
}

.highlight-multiple {
  background-color: lightgreen;
}
